section(class="certificates py-10 md:py-16 lg:py-20 bg-background-3 font-roboto")
	.container
		h2(class="text-3xl md:text-4xl lg:text-5xl font-bold text-center text-primary-1 mb-8 md:mb-12 lg:mb-16 font-roboto") Chứng Nhận

		.relative
			.overflow-hidden
				.flex(class="-mx-3" style="transform: translateX(0%);")

					.certificate-item(class="w-full md:w-1/3 px-3 flex flex-col items-center text-center font-roboto")
						.certificate-image-wrapper(class="mb-4 md:mb-6")
							img(class="h-32 w-auto md:h-36 lg:h-40 object-contain" src="./img/aboutcert1.png" alt="BRC Version 9 Certificate")
						h3(class="text-lg md:text-xl font-semibold text-primary-1 mb-2 md:mb-3 font-roboto") BRC Version 9
						p(class="text-sm md:text-base text-body-text-66 leading-relaxed px-2 font-roboto").
							Chứng nhận BRC Version 9 là tiêu chuẩn quốc tế về an toàn thực phẩm do Hiệp hội Bán lẻ Anh Quốc (British Retail Consortium) ban hành

					.certificate-item(class="w-full md:w-1/3 px-3 flex flex-col items-center text-center font-roboto")
						.certificate-image-wrapper(class="mb-4 md:mb-6")
							img(class="h-32 w-auto md:h-36 lg:h-40 object-contain" src="./img/aboutcert2.png" alt="HACCP Certificate")
						h3(class="text-lg md:text-xl font-semibold text-primary-1 mb-2 md:mb-3 font-roboto") HACCP
						p(class="text-sm md:text-base text-body-text-66 leading-relaxed px-2 font-roboto").
							Chứng nhận HACCP giúp doanh nghiệp kiểm soát rủi ro từ nguyên liệu đến thành phẩm, đảm bảo thực phẩm an toàn cho người tiêu dùng

					.certificate-item(class="w-full md:w-1/3 px-3 flex flex-col items-center text-center font-roboto")
						.certificate-image-wrapper(class="mb-4 md:mb-6")
							img(class="h-32 w-auto md:h-36 lg:h-40 object-contain" src="./img/aboutcert3.png" alt="GMP Certificate")
						h3(class="text-lg md:text-xl font-semibold text-primary-1 mb-2 md:mb-3 font-roboto") GMP
						p(class="text-sm md:text-base text-body-text-66 leading-relaxed px-2 font-roboto").
							GMP (Good Manufacturing Practices) là tiêu chuẩn thực hành sản xuất tốt, đảm bảo sản phẩm được sản xuất và kiểm soát nhất quán theo chất lượng đã định

			button(class="slider-nav-button prev-button absolute top-1/2 -translate-y-1/2 -left-4 xl:-left-15 z-10 focus:outline-none font-roboto" aria-label="Previous Certificate")
				img(class="sq-8 md:sq-10 lg:sq-12" src="./img/buttonabout1.png" alt="Previous")

			button(class="slider-nav-button next-button absolute top-1/2 -translate-y-1/2 -right-4 xl:-right-15 z-10 focus:outline-none font-roboto" aria-label="Next Certificate")
				img(class="sq-8 md:sq-10 lg:sq-12" src="./img/buttonabout2.png" alt="Next")