section.banner
	.swiper.mySwiper
		.swiper-wrapper
			.swiper-slide.banner-slide-1
				img(src="/img/banner1.png" alt="Công nghệ sấy thăng hoa tiên tiến")
				.banner1-content
					h2
						| CÔNG NGHỆ SẤY
						br
						| THĂNG HOA TIÊN TIẾN
					p GIỮ TRỌN HƯƠNG VỊ TỰ NHIÊN
					a(class="font-roboto inline-flex items-center justify-center gap-2-5 px-7-5 py-4 w-[200px] bg-primary-1 text-white rounded-25 text-lg lg:text-xl transition-300 hover:bg-primary-2 hover:text-white group" href="#")
						span(class="font-medium text-base lg:text-lg") Tìm hiểu thêm
						img(src="img/arrow-up.png", alt="Arrow Up", class="group-hover:rotate-45 transition-transform duration-300")
			
			.swiper-slide.banner-slide-2
				img(src="/img/banner2.png" alt="Banner 2")
				.banner1-content
					h2
						| CÔNG NGHỆ SẤY
						br
						| THĂNG HOA TIÊN TIẾN
					p GIỮ TRỌN HƯƠNG VỊ TỰ NHIÊN
					a(class="font-roboto inline-flex items-center justify-center gap-2-5 px-7-5 py-4 w-[200px] bg-primary-1 text-white rounded-25 text-lg lg:text-xl transition-300 hover:bg-primary-2 hover:text-white group" href="#")
						span(class="font-medium text-base lg:text-lg") Tìm hiểu thêm
						img(src="img/arrow-up.png", alt="Arrow Up", class="group-hover:rotate-45 transition-transform duration-300")
			
			.swiper-slide.banner-slide-3
				img(src="/img/banner3.jpg" alt="Banner 3")
				.banner1-content
					h2
						| CÔNG NGHỆ SẤY
						br
						| THĂNG HOA TIÊN TIẾN
					p GIỮ TRỌN HƯƠNG VỊ TỰ NHIÊN
					a(class="font-roboto inline-flex items-center justify-center gap-2-5 px-7-5 py-4 w-[200px] bg-primary-1 text-white rounded-25 text-lg lg:text-xl transition-300 hover:bg-primary-2 hover:text-white group" href="#")
						span(class="font-medium text-base lg:text-lg") Tìm hiểu thêm
						img(src="img/arrow-up.png", alt="Arrow Up", class="group-hover:rotate-45 transition-transform duration-300")
		.swiper-button-prev
			img(src="/img/slidebuttonleft.png" alt="Prev")
		.swiper-button-next
			img(src="/img/slidebuttonright.png" alt="Next")
		
		.swiper-pagination