section(class="breadcrumb-banner w-full flex flex-col items-center")
	.banner-wrapper(class="w-full max-w-[1840px] h-[500px] overflow-hidden")
		img(class="w-full h-full object-cover" src="./img/about1.png" alt="Giới thiệu")

	.breadcrumb-content(class="w-full bg-white py-4")
		.container(class="mx-auto px-4 lg:px-8 flex justify-start")
			nav(aria-label="breadcrumb")
				ol(class="flex items-center space-x-2")
					li
						a(class="flex items-center text-gray-700 hover:text-primary-2 transition-300" href="/")
							img(src="./img/homeabout.png" alt="Trang chủ")
					li
						img(src="./img/arrow-small.png" alt="")
					li
						span(class="font-roboto text-neutral-500") Giới thiệu