extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = ''
	
block main
	include ../components/modules/aboutnpm/aboutnpm-1/aboutnpm-1
	include ../components/modules/aboutnpm/aboutnpm-2/aboutnpm-2
	include ../components/modules/aboutnpm/aboutnpm-3/aboutnpm-3
	include ../components/modules/aboutnpm/aboutnpm-4/aboutnpm-4
	include ../components/modules/aboutnpm/aboutnpm-5/aboutnpm-5