footer(class="grid grid-cols-1 lg:grid-cols-12 bg-[#FFF4E5] text-white font-roboto")
	div(class="col-span-1 lg:col-span-8 order-2 lg:order-1")
		.container(class="grid grid-cols-1 lg:grid-cols-8 gap-8 lg:gap-0")
			div(class="col-span-1 lg:col-span-4 text-primary-1 px-4 lg:px-18")
				.section-row-space(class="py-3")
					h2(class="text-xl lg:text-2xl font-bold text-center lg:text-left")
						| Bản tin dành riêng cho bạn 
						br
						| Nhận thông tin hữu ích ngay hôm nay!
				.section-row-space(class="py-3")
					.input-email(class="relative flex items-center max-w-md mx-auto lg:mx-0")
						input(class="w-full p-3 lg:p-4 pr-24 lg:pr-32 rounded-3xl outline-none bg-white text-sm lg:text-base" type="text" placeholder="Email")
						button.btn-send(class="absolute right-2 px-3 lg:px-4 outline-none flex items-center justify-center bg-primary-1 rounded-3xl")
							span(class="btn btn-primary text-white text-uppercase font-medium text-sm lg:text-base px-3 lg:px-4 py-2 rounded-lg") Gửi
							i(class="fa-light fa-arrow-up text-white arrow-icon ml-2")
				.section-row-space(class="py-3")
					.certification
						h4(class="text-base lg:text-lg font-bold text-primary-1 mb-4 text-center lg:text-left") Chứng nhận
						.logo-certification(class="flex items-center justify-center lg:justify-start gap-4 flex-wrap")
							img(class="w-16 lg:w-auto h-12 lg:h-15" src="/img/chungnhan1.png" alt="certification")
							img(class="w-16 lg:w-auto h-12 lg:h-15" src="/img/chungnhan2.png" alt="certification")
							img(class="w-16 lg:w-auto h-12 lg:h-15" src="/img/chungnhan3.png" alt="certification")
			
			div(class="col-span-1 lg:col-span-2 p-4")
				.section-row-space(class="py-3")
					h4(class="text-base font-bold text-primary-1 text-center lg:text-left") Liên kết nhanh
				.section-row-space(class="py-3")
					ul(class="flex flex-col gap-3 lg:gap-4 text-center lg:text-left")
						li(class="text-neutral-900")
							a(href="#") Giới thiệu
						li(class="text-neutral-900")
							a(href="#") Công bố sản phẩm
						li(class="text-neutral-900")
							a(href="#") Quy trình công nghệ
						li(class="text-neutral-900")
							a(href="#") Chứng nhận
						li(class="text-neutral-900")
							a(href="#") Tin tức
						li(class="text-neutral-900")
							a(href="#") Liên hệ

			div(class="col-span-1 lg:col-span-2 p-4")
				.section-row-space(class="py-3")
					h4(class="text-base font-bold text-primary-1 text-center lg:text-left") Danh mục sản phẩm
				.section-row-space(class="py-3")
					ul(class="flex flex-col gap-3 lg:gap-4 text-center lg:text-left")
						li(class="text-neutral-900")
							a(href="#") Trái cây sấy thăng hoa
						li(class="text-neutral-900")
							a(href="#") Rau củ quả sấy thăng hoa
						li(class="text-neutral-900")
							a(href="#") Pet foot sấy thăng hoa
						li(class="text-neutral-900")
							a(href="#") Sữa chua sấy thăng hoa
						li(class="text-neutral-900")
							a(href="#") Bột sấy thăng hoa
		
		.container(class="grid grid-cols-1 lg:grid-cols-2 mt-8 lg:mt-0 px-4 lg:px-0")
			div(class="col-span-1 text-center lg:text-left mb-4 lg:mb-0 lg:pl-25")
				h3(class="text-sm lg:text-base font-medium text-primary-1")
					| © 2025 Hoàng Tâm. All Rights Reserved. 
					br(class="hidden lg:block")
					| Thiết kế web bởi Cánh Cam.
			div(class="col-span-1")
				div(class="flex justify-center lg:justify-end items-center h-full")
					.policy(class="flex flex-col sm:flex-row items-center justify-center gap-2 lg:gap-4 px-4")
						a(class="text-neutral-900 text-sm lg:text-base" href="#") Chính sách mua hàng
						a(class="text-neutral-900 text-sm lg:text-base" href="#") Điều khoản bảo mật

	div(class="col-span-1 lg:col-span-4 bg-primary-1 rounded-t-3xl lg:rounded-tl-3xl lg:rounded-bl-3xl lg:rounded-tr-none pt-10 px-8 lg:pl-12 pb-10 relative overflow-hidden order-1 lg:order-2")
		img(class="absolute right-0 bottom-0 w-auto h-[200px] lg:h-[260px] object-cover opacity-50 lg:opacity-100" src="/img/logoback.png" alt="bg-footer")
		.relative(class="z-10")

			.head-logo(class="flex flex-col lg:flex-row items-center gap-4 lg:gap-11 text-center lg:text-left")
				.logo-footer
					img(class="w-auto h-10 lg:h-12" src="/img/logofooter.png" alt="logo")
				.title-footer(class="text-white text-xl lg:text-2xl font-bold capitalize")
					| CÔNG TY TNHH THƯƠNG MẠI 
					br(class="hidden lg:block")
					| AC&R VIỆT NAM
			

			.container-info(class="mt-8 lg:mt-12 text-center lg:text-left")
				h3(class="text-white text-base font-bold capitalize font-roboto mb-2") Số điện thoại
				a(class="text-white text-sm lg:text-base font-roboto" href="tel:2295550109") (229) 555-0109
			
			.container-info(class="mt-6 lg:mt-12 text-center lg:text-left")
				h3(class="text-white text-base font-bold capitalize font-roboto mb-2") Địa chỉ
				a(class="text-white text-sm lg:text-base font-roboto" href="#") 
					| 51 Trần Phú, Phường 4, Quận 5, 
					br(class="hidden sm:block")
					| Tp. Hồ Chí Minh, Việt Nam
			
			.container-info(class="mt-6 lg:mt-12 text-center lg:text-left")
				h3(class="text-white text-base font-bold capitalize font-roboto mb-2") FOLLOW US
				.social-media(class="flex items-center justify-center lg:justify-start gap-4")
					a(class="text-white text-base font-roboto" href="https://www.facebook.com/")
						i(class="fa-brands fa-facebook-f")
					a(class="text-white text-base font-roboto" href="https://www.instagram.com/")
						i(class="fa-brands fa-instagram")
					a(class="text-white text-base font-roboto" href="https://www.youtube.com/")
						i(class="fa-brands fa-youtube")
					a(class="text-white text-base font-roboto" href="https://www.tiktok.com/")
						i(class="fa-brands fa-tiktok")

.floating-toolbox(class="fixed right-5 bottom-20 z-999 transition-300")
	.toolbox-container(class="flex flex-col gap-3")
		button.tool-btn.back-to-top(class="sq-12 bg-primary-2 text-white rounded-full flex-center shadow-drop-shadow-2 transition-300 hover:bg-primary-1" aria-label="Back to top" style="display: none")
			i(class="fas fa-arrow-up")
		
		button.tool-btn.location-btn(class="sq-12 bg-primary-2 text-white rounded-full flex-center shadow-drop-shadow-2 transition-300 hover:bg-primary-1" aria-label="Location")
			i(class="fas fa-map-marker-alt")
		
		a.tool-btn.phone-btn(class="sq-12 bg-primary-2 text-white rounded-full flex-center shadow-drop-shadow-2 transition-300 hover:bg-primary-1" href="" aria-label="Call us")
			i(class="fas fa-phone")
		
		button.tool-btn.chat-btn(class="sq-12 bg-primary-2 text-white rounded-full flex-center shadow-drop-shadow-2 transition-300 hover:bg-primary-1" aria-label="Chat")
			i(class="fas fa-comments")
