<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
    <!--<add name="Sản phẩm liên quan - giỏ hàng" value="10" resourcefile="" />-->
    <add name="Sản phẩm đã xem" value="0" resourcefile="" />
    <add name="Deal online mỗi ngày" value="1" resourcefile="" />
    <add name="Sản phẩm khuyến mãi" value="2" resourcefile="" />
  </position>

  <showoption name="Mới" value="1" class="promotion op1" />

  <discountoption name="VNPay" value="1" />

  <discountloadtype name="Tên Danh mục - DS sản phẩm" value="-1" />
  <discountloadtype name="Ảnh Danh mục - DS sản phẩm" value="2" />
  <discountloadtype name="Tên + Ảnh Danh mục - DS sản phẩm" value="3" />
  <discountloadtype name="Bộ lọc theo Danh mục" value="4" />

  <templatelist xsltname="ProductList.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="ProductListExpectedPrice.xslt" name="Danh sách sản phẩm với giá dự kiến" />
  <templatedetail xsltname="ProductDetail.xslt" name="Chi tiết sản phẩm" />

</templates>