<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
	  <add name="Main Menu" value="1" resourcefile="" />
	  <add name="Footer Menu 1" value="2" resourcefile="" />
	  <add name="Footer Menu 2" value="4" resourcefile="" />
	  <add name="Section Home - Giới thiệu" value="8" resourcefile="" />
	  <add name="Section Home - Timeline" value="2048" resourcefile="" />
	  <add name="Section Home - Giải Thưởng" value="16" resourcefile="" />
	  <add name="Section Home - Ban Giám Khảo" value="32" resourcefile="" />
	  <add name="Section Home - Ứng viên" value="64" resourcefile="" />
	  <add name="Section Home - Thư đề cử" value="128" resourcefile="" />
	  <add name="Section Home - Thư viện ảnh" value="256" resourcefile="" />
	  <add name="Section Home - Người thắng cuộc" value="512" resourcefile="" />
	  <add name="Section Home - Người thắng cuộc bài viết" value="1024" resourcefile="" />
    </position>
</settings>